################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AtiExam/FileContentIndex/41ab1206-8831-492e-9d99-1fd08798a729.vsidx
/.vs/AtiExam/FileContentIndex/68e27d7f-12e4-48ba-a69d-f163de9c64ce.vsidx
/.vs/AtiExam/FileContentIndex/73406dbe-9df7-4ebd-b218-6d897883fc65.vsidx
/.vs/AtiExam/FileContentIndex/9dc7b4a6-365c-4cd3-980e-f27103c6ce34.vsidx
/.vs/AtiExam/FileContentIndex/a75a85d4-b8a4-48a2-8a61-7aa2fe4e7c69.vsidx
/.vs/AtiExam/FileContentIndex/674b83b2-c331-4e04-b8d5-296c14b74999.vsidx
/.vs/AtiExam/FileContentIndex/71f472f7-ad31-4d14-a3ed-755b11340901.vsidx
/.vs/AtiExam/FileContentIndex/dfe0fd55-d15b-48d6-a7cb-77ddc67a22ba.vsidx
/.vs/AtiExam/FileContentIndex/f520bd54-27f9-4a75-9475-0478d0ed4763.vsidx
/.vs/AtiExam/FileContentIndex/0154eb3d-6b71-4438-8223-b605c21445be.vsidx
/.vs/AtiExam/FileContentIndex/5d088d65-6f73-42c2-a2ea-39d69338b345.vsidx
/.vs/AtiExam/FileContentIndex/9b630545-f2ce-46d3-ae24-179593f9766d.vsidx
/.vs/AtiExam/FileContentIndex/cac88c71-5d77-4cbf-80a8-e0b5b75afa5f.vsidx
/.vs/AtiExam/FileContentIndex/d58cf70d-3763-40d0-b1a8-86ba164f4dcf.vsidx
/.vs/AtiExam/FileContentIndex/3f9cd4c6-3737-4c14-af8f-edcc38e34b59.vsidx
/.vs/AtiExam/FileContentIndex/60e11aec-8786-4dc3-a928-7f429fa8325a.vsidx
/.vs/AtiExam/FileContentIndex/afb485b3-6fbf-413f-aab6-e7e125d3b9e6.vsidx
/.vs/AtiExam/FileContentIndex/ec660fcc-26ce-4f76-9857-b37bae1fe2a2.vsidx
/.vs/AtiExam/FileContentIndex/9f6df503-be5d-479b-8ae4-f1da5d4753af.vsidx
/.vs/AtiExam/FileContentIndex/28517ebb-451b-4d8f-9da6-2d7fc8010b0f.vsidx
/.vs/AtiExam/FileContentIndex/a02cc0d7-4433-4148-bc9c-ed878e7d0276.vsidx
/.vs/AtiExam/FileContentIndex/b9db1e21-3a85-49fb-ac73-f70f2d5aedf9.vsidx
/.vs/AtiExam/FileContentIndex/763fc07e-df5e-4d43-94b1-b51873ff1974.vsidx
/.vs/AtiExam/FileContentIndex/b635d871-c476-45c3-9d78-b0f4eff90743.vsidx
/.vs/AtiExam/FileContentIndex/d107197c-5c98-4649-833f-02967ee9f767.vsidx
/.vs/AtiExam/FileContentIndex/fc73bb3e-81b2-4227-bcde-7f1905c54563.vsidx
/.vs/AtiExam/FileContentIndex/35041f05-4316-47de-9fd8-0e255ca57a22.vsidx
/.vs/AtiExam/FileContentIndex/7b6d5d99-2cf9-42c7-933a-f5ed84ecbcdb.vsidx
/.vs/AtiExam/FileContentIndex/fa490c4d-3013-4d92-a759-a4fbcffc339d.vsidx
