################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AtiExam/FileContentIndex/41ab1206-8831-492e-9d99-1fd08798a729.vsidx
/.vs/AtiExam/FileContentIndex/68e27d7f-12e4-48ba-a69d-f163de9c64ce.vsidx
/.vs/AtiExam/FileContentIndex/73406dbe-9df7-4ebd-b218-6d897883fc65.vsidx
/.vs/AtiExam/FileContentIndex/9dc7b4a6-365c-4cd3-980e-f27103c6ce34.vsidx
/.vs/AtiExam/FileContentIndex/a75a85d4-b8a4-48a2-8a61-7aa2fe4e7c69.vsidx
